<div>
    <div id="{{ id }}" class="map-clip-path-container">
        <gmp-map
                class="{{ class-name }}"
                heading-interaction-disabled
                center="{{ latitude }},{{ longitude }}"
                zoom="{{ zoom }}"
                map-id="{{ map_id }}"
                style="width: 100%;"
                color-scheme="dark"
        ></gmp-map>
    </div>
    <script
            src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&v=weekly&libraries=maps,marker"
    ></script>

    <script type="module" defer>
        import { waitForMap } from '{{ "init-gmap.js" | asset_url }}'

        waitForMap((m,) => {
            m.setOptions({
                disableDefaultUI: true,
                zoomControl: false,
                mapTypeControl: false,
                streetViewControl: false,
                fullscreenControl: false,
                rotateControl: false,
                scaleControl: false,
                tilt: 0,
                heading: 0
            });
        });
    </script>

    {% paginate collections['all'].products by 50 %}
        {% for product in collections['all'].products %}
            {% assign coord = product.metafields.custom.location.value %}
            {% if coord and coord.lat and coord.lng %}
                {% render 'map-chip',
                        product: product,
                        id: product.id,
                        title: product.title,
                        lat: coord.lat.value,
                        lng: coord.lng.value,
                        product-url: product.url
                %}
            {% endif %}
        {% endfor %}
    {% endpaginate %}

    <style>
        .google-map-section {
            text-align: center;
            padding: 20px 0;
        }

        .google-map-section .map-title {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }
        .map-clip-path-container {
            width: 100%;
            height: 20rem;
            overflow: hidden;
            margin: auto;
            padding: 1rem;
        }
        gmp-map {
            overflow: hidden;
            display: block;
            height: 100rem;
        }
        @media screen and (min-width: 800px) {
            .map-clip-path-container {
                height: 20rem;
            }
        }
    </style>
</div>