<div>
    <div id="{{ id }}" class="map-clip-path-container">

    </div>
    <script
            src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&v=weekly&libraries=maps,marker"
    ></script>

    <script type="module" defer>
       import { initMap } from "{{ "init-gmap.js" | asset_url }}";

    document.addEventListener("DOMContentLoaded", () => {
        initMap({
            id: "{{ id }}",
            mapId: "{{ map_id }}",
            zoom: 11,
            lat: +"{{ latitude }}",
            lng: +"{{ longitude }}",
        });
    })

    </script>

    {% paginate collections['all'].products by 50 %}
        {% for product in collections['all'].products %}
            {% assign coord = product.metafields.custom.location.value %}
            {% if coord and coord.lat and coord.lng %}
                {% render 'map-chip',
                        product: product,
                        id: product.id,
                        title: product.title,
                        lat: coord.lat.value,
                        lng: coord.lng.value,
                        product-url: product.url
                %}
            {% endif %}
        {% endfor %}
    {% endpaginate %}

    <style>
        .google-map-section {
            text-align: center;
            padding: 20px 0;
        }

        .google-map-section .map-title {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }
        .map-clip-path-container {
            width: 100%;
            height: 40rem;
            overflow: hidden;
            margin: auto;
            padding: 1rem;
            position: relative;
        }
        gmp-map {
            overflow: hidden;
            display: block;
            height: 100rem;
        }
        @media screen and (min-width: 800px) {
            .map-clip-path-container {
                height: 30rem;
            }
        }
    </style>
</div>